{% extends "layouts/main.html" %}

        
{% block title %}forStuff{% endblock %}
        
{% block main %} 
    <div>
        <h1>forStuff</h1>
        <h3>A place to keep track of stuff</h3>

        <p>Currently catalogs books and locations. More categories and functionality to come.</p>
    </div>

    <nav>
        <h2><a href="/locations">Locations</a></h2>
        <h2><a href="/books">Books</a></h2>
    </nav>


{% endblock %}
        

    <!--instructions for using app-->
    <!--books & locations forms in separate html-->
    <!--auth-->
