<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <!--for flask
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/normalize.css')}}">
        -->
        <title>forStuff</title>
    </head>
    <body>
        <h1>forStuff</h1>
        <h3>A place to keep track of stuff</h3>

        <p>Currently catalogs books and locations. More categories and functionality to come.</p>

        <!--instructions for using app-->
        <!--books & locations forms in separate html-->
        <!--auth-->


    </body>
</html>