<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta rel="stylesheet" href="css/style.css"
        <meta rel="stylesheet" href="css/normalize.css"
        <title>Stuff</title>
    </head>
    <body>
        <!--auth-->

        <!--instructions for using app-->
        <h1>Where's My Stuff</h1>
        <p>A place to keep track of your stuff</p>


        
        
        
        
    </body>
</html>